extends ../../layouts/account.pug
include ../../mixins/alert

block main
  div.alert-container
    +alert-success(5000)
    +alert-error(5000)

  style.
    .gradient-custom {
    /* fallback for old browsers */
    background: #6a11cb;
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(106, 17, 203, 1), rgba(37, 117, 252, 1))
    }
  section.vh-100.gradient-custom
    .container.py-5.h-100
      .row.d-flex.justify-content-center.align-items-center.h-100
        .col-12.col-md-8.col-lg-6.col-xl-5
          .card.bg-dark.text-white(style='border-radius: 1rem;')
            .card-body.p-5.text-center
              .mb-md-5.mt-md-4.pb-5
                h2.fw-bold.mb-2.text-uppercase Đăng nhập
                p.text-white-50.mb-5 Vui lòng nhập email và mật khẩu!
                form(action=`/${prefixAdmin}/account/login` method='POST')
                  .form-outline.form-white.mb-4
                    input#typeEmailX.form-control.form-control-lg(type='email' name='email')
                    label.form-label(for='typeEmailX') Email
                  .form-outline.form-white.mb-4
                    input#typePasswordX.form-control.form-control-lg(type='password' name='password')
                    label.form-label(for='typePasswordX') Mật khẩu
                  p.small.mb-5.pb-lg-2
                    a.text-white-50(href='#!') Quên mật khẩu?
                  button.btn.btn-outline-light.btn-lg.px-5(type='submit') Đăng nhập

