extend ../../layouts/default
include ../../mixins/box-head

block main 
  .container.my-3
    .row 
      .col-12 
        +box-head(pageTitle)

    //- Part 1 block
    .row
      .col-12
        .card
          .card-header.bg-primary.text-white
            h5.mb-0 Part 1

          .card-body
            //- Sample section
            .row.mb-4
              .col-12
                h6.mb-3.text-primary Sample
                .row
                  each sample in samples
                    .col-md-4.mb-3
                      .card.shadow-sm
                        .card-body
                          h5.card-title
                            a(href=`part1/sample/${sample.slug}`) #{sample.title}

            //- Practice section
            .row
              .col-12
                h6.mb-3.text-primary Practice
                .row
                  each practice in practices
                    .col-md-4.mb-3
                      .card.shadow-sm
                        .card-body
                          h5.card-title
                            a(href=`part1/practice/${practice.slug}`) #{practice.title}
